/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
  background: #d6c38f;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
