<div class="welcome-page">
  <h2 class="heading">Izvēlieties, ko darīt!</h2>

  <div class="card-grid">
    <div class="card-item" *ngFor="let card of cards">
      <div
        class="card"
        [ngClass]="card.css"
        role="button"
        tabindex="0"
        (click)="go(card)"
        (keyup.enter)="go(card)"
      >
        <h3>{{ card.title }}</h3>
      </div>
      <p class="subtitle">{{ card.subtitle }}</p>
    </div>
  </div>
</div>



<!--<div class="welcome-page">-->
<!--  <h2 class="heading">Izvēlieties, ko darīt!</h2>-->

<!--  <div class="cards">-->
<!--    <div-->
<!--      class="card"-->
<!--      *ngFor="let card of cards; let i = index"-->
<!--      [ngClass]="card.css"-->
<!--      role="button"-->
<!--      tabindex="0"-->
<!--      (click)="go(card)"-->
<!--      (keyup.enter)="go(card)"-->
<!--    >-->
<!--      <h3>{{ card.title }}</h3>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="subtitles">-->
<!--    <p *ngFor="let card of cards">{{ card.subtitle }}</p>-->
<!--  </div>-->
<!--</div>-->
