<nz-layout class="app-layout">
  <!-- SIDEBAR -->
  <nz-sider
    nzCollapsible
    nzWidth="200px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzTheme="light"
    class="menu-sidebar"
  >
    <div class="sidebar-logo">
      <!--suppress HtmlUnknownTarget -->
      <img ngSrc="logo.png" alt="Trekker logo" fill/>
    </div>

    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="sidebar-menu">
      <li nz-menu-item nzMatchRouter routerLink="/welcome">
        <span nz-icon nzType="home"></span>
        <span>Sākums</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/session">
        <span nz-icon nzType="search"></span>
        <span>Meklē taku</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/friend-form">
        <span nz-icon nzType="wifi"></span>
        <span>Savienojies</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/friends">
        <span nz-icon nzType="team"></span>
        <span>Draugi</span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/favourites">
        <span nz-icon nzType="unordered-list"></span>
        <span>Mīļākās takas</span>
      </li>
    </ul>
  </nz-sider>

  <!-- MAIN LAYOUT -->
  <nz-layout>
    <!-- HEADER -->
    <nz-header class="app-header">
      <div class="header-left">
        <button nz-button nzType="text" class="trigger" (click)="isCollapsed = !isCollapsed">
          <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </button>
        <h1 class="app-title">Trekker</h1>
      </div>
      <div class="header-right">
        <button class="btn-logout" (click)="logout()">
          Atslēgties
        </button>

      </div>
    </nz-header>

    <!-- CONTENT -->
    <nz-content class="app-content">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <!-- FOOTER -->
    <nz-footer class="app-footer">
      © 2025 – Evelīna Geikina, Elīza Kanska, Vineta Bitte
    </nz-footer>
  </nz-layout>
</nz-layout>

