<div class="friends-page">
  <button class="btn-add" [routerLink]="'/friend-form'">Pievienot jaunu draugu</button>

  @if (friends().length === 0) {
    <div class="no-friends">
      <div class="modal-content">
        <p>Tev vēl nav draugu 🤣</p>
        <button nz-button nzType="primary" [routerLink]="'/friend-form'">Atrodi draugus</button>
      </div>
    </div>
  } @else {
    <div class="grid">
      @for (f of friends(); track f.friendId) {
        <div class="friend-card">
          <!--suppress HtmlUnknownTarget -->
          <img src="avatar.png" [alt]="f.friend.username" class="thumb" />
          <div class="name">{{ f.friend.username }}</div>
        </div>
      }
    </div>
  }
</div>
