<div class="friends-page">
  <button class="btn-add">Pievienot jaunu draugu</button>

  <div class="grid">
    <div class="friend-card" *ngFor="let f of friends">
      <img [src]="f.image" alt="{{ f.name }}" class="thumb" />
      <div class="name">{{ f.name }}</div>
    </div>
  </div>
</div>


<!--<div class="friends-grid">
    <div class="friend-card" *ngFor="let friend of friends">
      <div class="thumb">
        <img [src]="friend.avatar || placeholder" alt="{{friend.name}}" />
      </div>
      <div class="info">
        <p class="name">{{ friend.name }}</p>
      </div>
    </div>
  </div>-->
