<div class="choose-trail">
  <h2 class="heading">Sāc jaunu sesiju vai pievienojies ar kodu</h2>

  <div class="options-grid">
    <div class="option-card option-primary" role="button" (click)="create()">
      <h3>Izveidot jaunu sesiju</h3>
    </div>
    <div class="option-card option-accent">
      <h3>Pievienoties ar kodu</h3>
      <input nz-input placeholder="Ievadi kodu" [(ngModel)]="inviteCode"/>
      <button nz-button (click)="join()" [disabled]="!inviteCode">
        Pievienoties
      </button>
    </div>
  </div>
</div>
